.article-header{
    background-color:darkblue;
    color:beige;
    height: 100px;
    padding-top: 30px;
    /* border: 30px solid blue; */
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.article-header-blank{
    background-color:lightblue;
    color:beige;
    border: 10px solid transparent;
    text-align: left;
}

.section-content {
    margin-left: 10%;
    margin-right: 10%;

}

.add-employee-btn {
    float: right;
    margin-bottom: 5px;
}

.searchDrop {
    display: inline-block;
}

.searchInput {
    display: inline-block;
    width: 500px;
    margin-left: 10px;
}

